.hidden{
    display: none !important;
}
.off{
    opacity: 0.3;
}
.toolbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
}
.toolbar > *{
    display: inline-block;
}
.toolbar > .title{
    flex-grow: 1;
}
.toolbar > .icons > .icon{
    margin-left: 10px;
}
.tox-statusbar{
    display: none !important;
}
.popup_message{
    display: inline-block;
    padding: 20px;
    text-align: center;
}
.loading{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    background-image: url('/themes/io-globules-ogx/dark/img/loading.svg');
    background-color: #222;
}
.loading >*{
    display: none !important;
}